<section
  class="landing-section h-screen w-full text-center relative overflow-hidden"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-24 text-[40px] font-medium">Accesorios</h2>
    </header>

    <footer class="flex flex-col flex-grow items-center justify-end pb-12">
      <a
        class="border-[3px] border-transparent bg-gray-50/95 text-sm rounded font-bold text-black px-20 py-2 inline-block hover:bg-white hover:text-black transition-colors w-auto"
        href="#"
        target="_blank">
        Compra ahora
      </a>
    </footer>

    <div class="z-30 relative flex flex-col text-center items-center pb-6">
      <ul
        class="flex text-[11px] text-white/85 bg-transparent [&>li]:px-2 font-bold">
        <li>
          <a
            href="/es_mx/about"
            title="Copyright 2024 Tesla Motors"
            class="tds-link tcl-link">Tesla © 2024</a
          >
        </li>
        <li><a href="#">Privacidad y legal</a></li>
        <li><a href="#">Llamadas a revisión de vehículos</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Ubicaciones</a></li>
      </ul>
    </div>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="Accesorios.avif"
      alt="Accesorios"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
