<section
  class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-24 text-[40px] font-medium">
        Energía solar y Powerwall
      </h2>
      <p class="text-black text-lg">Totalmente eléctrico</p>
    </header>

    <footer class="flex flex-col flex-grow items-center justify-end pb-20">
      <a
        class="border-[3px] border-transparent bg-gray-900/65 text-sm rounded font-bold text-white px-16 py-2 inline-block hover:bg-black hover:text-white transition-colors w-auto"
        href="#"
        target="_blank">
        Más información
      </a>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="Powerwall.avif"
      alt="Powerwall"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
